name: CI

on:
  push:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: "Install Flox"
      uses: "flox/install-flox-action@v2"

    - name: "Build"
      uses: "flox/activate-action@v1"
      with:
        command: hugo

    - name: "Deploy"
      if: github.ref == 'refs/heads/master'
      uses: "flox/activate-action@v1"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      with:
        command: >
          rclone sync
          --config rclone.conf
          --checksum
          --verbose
          public s3:dan.carley.co
